.title {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.scoreSummary {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
}

.row {
  margin: 45px; 
}