.card {
    border: 5px solid white;
    margin: 8px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    z-index: 75;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .1s;
    box-shadow: 0 9px 18px rgba(0,0,0,.16), 0 9px 18px rgba(0,0,0,.23);
    z-index: 75;
}

.card>img {
    background-size: cover;
    height: 170px;
    width: 170px;
}  

.card>img:hover {
    box-sizing: inherit;
}