.navbar li {
    display: inline-block;
    padding: 6px 0;
    width: 33.3%;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-outline-light {
    text-shadow: none;
   
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar {
    min-height: 70px;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #fff;
    z-index: 99;
    white-space: nowrap;
    display: block;
}